#settings {
  margin: 3rem 1rem 1rem 1rem;

  //.form-group:first-child {
  //  margin-bottom: 2rem;
  //}
  //
  //.form-group:not(:first-child) {
  //  margin-bottom: 1rem;
  //}
  //
  //.form-group:last-child {
  //  margin-top: 2rem;
  //}

  //.material-icons {
  //  width: 1em;
  //  height: 1em;
  //  vertical-align: -20%;
  //  margin-right: .2rem;
  //}

  button:focus {
    box-shadow: none;
  }
}