@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');
$base-font-family: 'Roboto', sans-serif;
$font-size: 0.7rem;

@import '~spectre.css/src/spectre';
@import '~spectre.css/src/spectre-icons';

#root {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#form {
  @include shadow-variant(.05rem);
  padding: $unit-2 $unit-4;

  .form-horizontal { padding: 0; }

  .d-flex { align-items: center; }
  .text-nowrap { white-space: nowrap; }
  .tooltip::after { white-space: pre-line; width: 440px; }

  .payment {
    align-items: flex-start;
    &:not(:nth-child(2)) { margin-top: $unit-6; }
  }
  .payment-id {
    position: relative;
    top: .5em;
  }
  .payment-fields {
    margin: 0 (-$unit-1);
    .column { padding: 0 $unit-1; }
    .d-flex input { flex: 1; }
  }

  input[type="date"]::-webkit-clear-button { display: none; }
  input[type="date"]::-webkit-inner-spin-button { display: none; }

  #add-button:not(:nth-child(2)) { margin-top: $unit-6; }
}

#table-wrapper {
  @include shadow-variant(.05rem);
  margin-top: $unit-4;
  padding: $unit-2 $unit-4;

  table { width: 100%; }
  table tr:last-child td { border-bottom: none; }
  table th, td {
    padding: $unit-1 $unit-2;
  }
}

#error {
  @include shadow-variant(.05rem);
  margin-top: $unit-4;
}

#credits-list {
  transform: none;
  h3 { margin-bottom: 0; }
  #app-version {
    position: absolute;
    top: 0;
    right: 0;
  }
}