@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');
@import 'styles/variables';
@import 'styles/spectre-custom';

// -----------------------------------------------

//html, body, #root, #mobile {
//  height: 100%;
//}

#loading {
  position: absolute;
  top: 50%;
  margin-top: -0.8rem;
  left: 50%;
}

#sign-in-form {
  padding: 1rem;
  margin: 2rem auto;
  max-width: 22rem;

  .form-group:last-child {
    margin-top: 2rem;
  }
}

.theme-dark {
  //background-color: $dark-color;
  //color: whitesmoke;
}