@import 'spectre-custom';

#root {
  padding: 1rem;
  max-width: 1920px;
  margin: 0 auto;
}

#form {
  @include shadow-variant(.05rem);
  padding: 0 $unit-4 $unit-2 $unit-4;

  .form-horizontal { padding: 0; }

  .d-flex { align-items: center; }
  .text-nowrap { white-space: nowrap; }
  .tooltip::after { white-space: pre-line; width: 440px; }

  .payment {
    align-items: flex-start;
    &:not(:last-child) { margin-bottom: $unit-3; }
  }
  .payment-id {
    position: relative;
    top: .5em;
  }
  .payment-fields {
    flex: 1;
    margin: 0 (-$unit-1);
    .column {
      margin-bottom: $unit-2;
      padding: 0 $unit-1;
    }
  }

  input[type="date"]::-webkit-clear-button { display: none; }
  input[type="date"]::-webkit-inner-spin-button { display: none; }

  #add-button:not(:nth-child(2)) { margin-top: $unit-6; }
}

#table-wrapper {
  @include shadow-variant(.05rem);
  padding: $unit-2 $unit-4;

  table {
    width: 100%;
    th, td { padding: $unit-1 $unit-2; }
    tr:last-child td { border-bottom: none; }
  }
}

#error {
  @include shadow-variant(.05rem);
}

@media (max-width: $size-xl) {
  #table-wrapper {
    margin-top: $unit-4;
  }
  #form > div:first-child {
    & > div:first-child {
      padding-right: $unit-4;
      border-right: 1px solid $border-color-light;
    }
    & > div:nth-child(2) {
      padding-left: $unit-4;
    }
  }
}

@media (max-width: $size-lg) {
  #form > div:first-child {
    & > div:first-child {
      padding-right: $unit-2;
      border-right: none;
    }
    & > div:nth-child(2) {
      padding-left: $unit-2;
    }
  }
}

@media (max-width: $size-md) {
  #table-wrapper table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}