@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');
$base-font-family: 'Roboto', sans-serif;

$primary-color: #AA1E46;
$secondary-color: lighten($primary-color, 47.5%);

$size-lg: 1080px;
$size-xl: 1520px;

// Variables and mixins
@import "~spectre.css/src/variables";
@import "~spectre.css/src/mixins";

// Reset and dependencies
@import "~spectre.css/src/normalize";
@import "~spectre.css/src/base";

// Elements
@import "~spectre.css/src/typography";
@import "~spectre.css/src/tables";
@import "~spectre.css/src/buttons";
@import "~spectre.css/src/forms";
@import "~spectre.css/src/accordions";

// Layout
@import "~spectre.css/src/layout";

// Components
@import "~spectre.css/src/toasts";
@import "~spectre.css/src/tooltips";

// Utility classes
@import "~spectre.css/src/animations";
@import "~spectre.css/src/utilities";

// Icons
@import "~spectre.css/src/icons/icons-core";
@import "~spectre.css/src/icons/icons-navigation";
@import "~spectre.css/src/icons/icons-action";

// -----------------------------------------------

button.btn {
  //font-variant: all-small-caps;
  text-transform: uppercase;
  font-size: 14px;
  &.btn-lg { font-size: 15px; }
}

#form {
  padding: $unit-4 $unit-4;

  .text-nowrap {
    white-space: nowrap;
  }

  .d-flex {
    justify-content: space-between;
    align-items: center;
  }

  .accordion input:checked ~ .accordion-body, .accordion[open] .accordion-body {
    max-height: 1000rem;
  }

  .tooltip::after {
    white-space: pre-line;
    width: 440px;
  }

  .form-horizontal {
    padding: 0;
    margin-bottom: $unit-4;
  }

  .payment {
    margin: $unit-3 0;
    display: flex;
    .columns {
      flex: 1;
      margin: 0 (-$unit-1);
      .column {
        padding: 0 $unit-1;
        margin-bottom: $unit-2;
      }
    }
  }

  #calculate-button-wrapper {
    margin: $unit-5 0 $unit-1 0;
  }
}

#calculation {
  padding: $unit-2 $unit-2;
}

#table {
  th, td {
    &:not(:nth-child(1)):not(:nth-child(2)) {
      text-align: right;
    }
  }
  tfoot td {
    border: none;
  }
}

#stats td:nth-child(2) {
  text-align: right;
}

#mobile {
  // see .btn-lg definition
  padding-bottom: 3rem;
}

@media (max-width: $size-md) {
  #table {
    font-size: 0.7rem;

    tfoot,
    th:nth-child(3), th:nth-child(4),
    td:nth-child(3), td:nth-child(4) {
      display: none;
    }

    td:nth-child(5) {
      user-select: none;
    }
  }

  #form {
    .tooltip::after {
      display: none;
    }

    .payment {
      flex-wrap: wrap;

      > div:first-child {
        order: 1;
        flex: 1;
        // .h5
        font-weight: 500;
        font-size: 1rem;
      }
      > div:last-child {order: 2;}
      .columns {
        order: 3;
        flex-basis: 100%;
        margin-top: $unit-2;
      }
    }
  }
}

@media (min-width: $size-md) {
  #desktop {
    padding: 1rem;
    max-width: 1920px;
    margin: 0 auto;
  }

  #calculation {
    padding: $unit-2 $unit-4;
    #stats { display: none; }
    #table th, #table td { padding: $unit-1 $unit-2; }
  }

  #calculation, error {
    margin-top: $unit-4;
    @include shadow-variant(.05rem);
  }

  #form {
    @include shadow-variant(.05rem);

    .payment {
      align-items: flex-start;

      > div:first-child {
        flex: 0 0 $unit-6;
        position: relative;
        top: .4em;
        text-align: right;
      }
    }
  }
}

@media (min-width: $size-xl) {
  #calculation, #error {
    margin-top: 0;
  }

  #form, #calculation {
    height: calc(100vh - 2rem);
    overflow-y: scroll;
  }

  #form #calculate-button-wrapper {
    margin-bottom: $unit-5;
  }

  #table {
    margin-bottom: $unit-2;
  }
}