@import "styles/variables";

#mobile {
  padding-bottom: 3rem;
}

#mobile {
  #settings {
    padding: 1rem 0;

    > .form-group {
      margin: 0;
      border-top: 1px solid $border-color;
      &:last-of-type {
        border-bottom: 1px solid $border-color;
      }
    }

    .tile {
      min-height: 2.4rem;
      padding: 0.6rem;
    }

    .form-switch {
      min-height: 2.4rem;
      padding: 0.6rem 0.6rem 0.6rem 2.4rem;
      .form-icon {
        left: 0.4rem;
        top: 0.7rem;
      }
    }

    .material-icons {
      width: 1em;
      height: 1em;
      vertical-align: -20%;
      margin-right: .2rem;
    }
  }
}

#change-password-form {
  padding: 1rem;
  .mt-3 {
    margin-top: $unit-2 * 3;
  }
}

#navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 -0.1rem 0.2rem #eeeeee;
}

#navigation button {
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  color: #5F6368;
  font-size: 14px;
  height: 3rem;
  padding: 0.35rem 0.4rem; // 0.4rem is really inherited from .btn

  &.active {
    box-shadow: none;
    color: #1A73E8;
  }

  span {
    display: block;
  }
}

//@import "~spectre.css/src/mixins";
//.btn-blue {
//  @include button-variant(#1A73E8);
//}