@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');
$base-font-family: 'Roboto', sans-serif;
$font-size: 0.7rem;
$size-lg: 1080px;
$size-xl: 1520px;

// Variables and mixins
@import "~spectre.css/src/variables";
@import "~spectre.css/src/mixins";

// Reset and dependencies
@import "~spectre.css/src/normalize";
@import "~spectre.css/src/base";

// Elements
@import "~spectre.css/src/tables";
@import "~spectre.css/src/buttons";
@import "~spectre.css/src/forms";

// Layout
@import "~spectre.css/src/layout";

// Components
@import "~spectre.css/src/toasts";
@import "~spectre.css/src/tooltips";

// Utility classes
@import "~spectre.css/src/utilities";

// Icons
@import "~spectre.css/src/icons/icons-core";
@import "~spectre.css/src/icons/icons-navigation";
@import "~spectre.css/src/icons/icons-action";